<div class="container p-2">
  <form [formGroup]="myForm" (ngSubmit)="save()">
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="First name"
        formControlName="firstName"
      />
    </div>

    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="Last name"
        formControlName="lastName"

      />
    </div>
    <button href="" class="btn btn-primary">Save</button>
  </form>
</div>
